:root {
    --bg-primary: rgb(161, 100, 161);
    --bg-secondary: rgb(158, 255, 129);
    --bg-sec-inner: rgb(207, 248, 194);

    --text-primary: white;

}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    margin: 3px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0;
    background: var(--bg-primary);
    /* align-items: center;
    position: relative; */
    /* --bs-navbar-padding-x: 0; */
}

.nav-item {
    padding: 1em;
    color: var(--text-primary);
    text-decoration: none;
}

.nav-item:hover {
    background: purple;
}

.navbar-brand {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: var(--text-primary);
}

.justify-content-center{
    justify-content: center;
}

.alert {
    font-size: 1.25em;
    border-radius: 10px;
    padding: 8px;
    margin: 3px;
}

.alert-danger {
    background: rgb(252, 165, 165);
}

.alert-success {
    background: #8ef7b1;
}

.container-search {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin: 3px;
}

.search-parent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-form {
    display: flex;
    position: relative;
    width: 50%;
}

.search-term {
    width: 100%;
    border: 3px solid var(--bg-primary);
    border-right: none;
}

.search-button {
    width: 40px;
    height: 40px;
    border: 1px solid var(--bg-primary);
    background: var(--bg-primary);
    text-align: center;
    color: var(--text-primary);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.wrap-collapsible {
    margin: 3px;
    width: 50%;
}

.checkbox-collapse {
    display: none;
}

.lbl-toggle-diet {
    display: block;

    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    
    padding: .5rem;

    color: black;
    background: var(--bg-secondary);

    cursor: pointer;

    border-radius: 7px;
    transition: all 0.25s ease-out;
}

.lbl-toggle-cuisine {
    display: block;

    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    
    padding: .5rem;

    color: black;
    background: var(--bg-secondary);

    cursor: pointer;

    border-radius: 7px;
    transition: all 0.25s ease-out;
}

.lbl-toggle-allergies {
    display: block;

    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    
    padding: .5rem;

    color: black;
    background: var(--bg-secondary);

    cursor: pointer;

    border-radius: 7px;
    transition: all 0.25s ease-out;
}

.lbl-toggle-diet:hover {
    color: black;
}

.lbl-toggle-cuisine:hover {
    color: black;
}

.lbl-toggle-allergies:hover {
    color: black;
}

.lbl-toggle-diet::before {
    content: ' ';
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;

    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);

    transition: transform .2s ease-out;
}

.lbl-toggle-cuisine::before {
    content: ' ';
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;

    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);

    transition: transform .2s ease-out;
}

.lbl-toggle-allergies::before {
    content: ' ';
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;

    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);

    transition: transform .2s ease-out;
}

.collapsible-content-diet .content-inner {
    background: var(--bg-sec-inner);
    border-bottom: 1px solid var(--bg-secondary);

    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
}

.collapsible-content-cuisine .content-inner {
    background: var(--bg-sec-inner);
    border-bottom: 1px solid var(--bg-secondary);

    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
}

.collapsible-content-allergies .content-inner {
    background: var(--bg-sec-inner);
    border-bottom: 1px solid var(--bg-secondary);

    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
}

.content-inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    
}

.diet-restrict-item {
    display: inline;
    margin: 3px;
    width: 150px;
}

.collapsible-content-diet {
    max-height: 0px;
    overflow: hidden;

    transition: max-height .25s ease-in-out;
}

.collapsible-content-cuisine {
    max-height: 0px;
    overflow: hidden;

    transition: max-height .25s ease-in-out;
}

.collapsible-content-allergies {
    max-height: 0px;
    overflow: hidden;

    transition: max-height .25s ease-in-out;
}

.toggle-diet:checked + .lbl-toggle-diet + .collapsible-content-diet {
    max-height: 100vh;
}

.toggle-diet:checked + .lbl-toggle-diet::before {
    transform: rotate(90deg) translateX(-3px);
}

.toggle-diet:checked + .lbl-toggle-diet {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.toggle-cuisine:checked + .lbl-toggle-cuisine + .collapsible-content-cuisine {
    max-height: 100vh;
}

.toggle-cuisine:checked + .lbl-toggle-cuisine::before {
    transform: rotate(90deg) translateX(-3px);
}

.toggle-cuisine:checked + .lbl-toggle-cuisine {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.toggle-allergies:checked + .lbl-toggle-allergies + .collapsible-content-allergies {
    max-height: 100vh;
}

.toggle-allergies:checked + .lbl-toggle-allergies::before {
    transform: rotate(90deg) translateX(-3px);
}

.toggle-allergies:checked + .lbl-toggle-allergies {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}