:root {
    --bg-primary: #331832;
    --bg-secondary: #9EE493;
    --bg-sec-inner: #9EE493;

    --text-primary: #D5C5C8;
    --nav-hover: #DE9151;

    --border-recipe-card: rgb(172, 172, 172);
}

body {
    font-family: Corben, Serif;
    background: var(--text-primary);
}

h2 {
    margin: 3px;
    font-weight: 900;
    font-style: oblique;
}

.corben {
    font-family: Corben, sans-serif;
}

.overpass {
    font-family: Overpass, sans-serif;
}

.oblique {
    font-style: oblique;
}

.search-home {
    text-align: center;
    margin: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0;
    background: var(--bg-primary);
}

.nav-item {
    padding: 1em;
    color: var(--text-primary);
    text-decoration: none;
    font-size: 120%;
}

.nav-item:hover {
    background: var(--nav-hover);
}

.navbar-brand {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: var(--text-primary);
}

.logo {
    max-height: 50px;
}

.justify-content-center{
    justify-content: center;
}

.alert {
    font-size: 1.25em;
    border-radius: 10px;
    padding: 8px;
    margin: 3px;
}

.alert-danger {
    background: rgb(252, 165, 165);
}

.alert-success {
    background: #8ef7b1;
}

.container-search {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin: 3px;
}

.search-parent {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-form {
    display: flex;
    position: relative;
    width: 50%;
}

.search-term {
    width: 100%;
    border: 3px solid var(--bg-primary);
    border-right: none;
}

.search-button {
    width: 40px;
    height: 40px;
    border: 1px solid var(--bg-primary);
    background: var(--bg-primary);
    text-align: center;
    color: var(--text-primary);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.search-modify {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap-collapsible {
    margin: 3px;
    width: 100%;
    max-width: 700px;
    min-width: 400px;
}

.wrap-collapsible-search {
    margin: 3px;
    width: 100%;
    max-width: 700px;
    min-width: 400px;
    background: var(--bg-sec-inner);
}

.checkbox-collapse {
    display: none;
}

.lbl-toggle-diet {
    display: block;

    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    
    padding: .5rem;

    color: black;
    background: var(--bg-secondary);

    cursor: pointer;

    border-radius: 7px;
    transition: all 0.25s ease-out;
}

.lbl-toggle-cuisine {
    display: block;

    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    
    padding: .5rem;

    color: black;
    background: var(--bg-secondary);

    cursor: pointer;

    border-radius: 7px;
    transition: all 0.25s ease-out;
}

.lbl-toggle-allergies {
    display: block;

    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    
    padding: .5rem;

    color: black;
    background: var(--bg-secondary);

    cursor: pointer;

    border-radius: 7px;
    transition: all 0.25s ease-out;
}

.lbl-toggle-meal-type {
    display: block;

    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    
    padding: .5rem;

    color: black;
    background: var(--bg-secondary);

    cursor: pointer;

    border-radius: 7px;
    transition: all 0.25s ease-out;
}

.lbl-toggle-search {
    display: block;

    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    
    padding: .5rem;

    color: black;
    background: var(--bg-secondary);

    cursor: pointer;

    border-radius: 7px;
    transition: all 0.25s ease-out;
}

.lbl-toggle-diet:hover {
    color: black;
}

.lbl-toggle-cuisine:hover {
    color: black;
}

.lbl-toggle-allergies:hover {
    color: black;
}

.lbl-toggle-meal-type:hover {
    color: black;
}

.lbl-toggle-diet::before {
    content: ' ';
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;

    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);

    transition: transform .2s ease-out;
}

.lbl-toggle-cuisine::before {
    content: ' ';
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;

    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);

    transition: transform .2s ease-out;
}

.lbl-toggle-allergies::before {
    content: ' ';
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;

    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);

    transition: transform .2s ease-out;
}

.lbl-toggle-meal-type::before {
    content: ' ';
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;

    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);

    transition: transform .2s ease-out;
}

.lbl-toggle-search::before {
    content: ' ';
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;

    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);

    transition: transform .2s ease-out;
}

.collapsible-content-diet .content-inner {
    background: var(--bg-sec-inner);
    border-bottom: 1px solid var(--bg-secondary);

    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
}

.collapsible-content-cuisine .content-inner {
    background: var(--bg-sec-inner);
    border-bottom: 1px solid var(--bg-secondary);

    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
}

.collapsible-content-allergies .content-inner {
    background: var(--bg-sec-inner);
    border-bottom: 1px solid var(--bg-secondary);

    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
}

.collapsible-content-meal-type .content-inner {
    background: var(--bg-sec-inner);
    border-bottom: 1px solid var(--bg-secondary);

    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
}

.collapsible-content-search .content-inner {
    background: var(--bg-secondary);
    border-bottom: 1px solid var(--bg-secondary);

    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
}

.content-inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    
}

.diet-restrict-item {
    display: inline;
    width: 150px;
}

.collapsible-content-diet {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.collapsible-content-cuisine {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.collapsible-content-allergies {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.collapsible-content-meal-type {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.collapsible-content-search {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.toggle-diet:checked + .lbl-toggle-diet + .collapsible-content-diet {
    max-height: 100vh;
}

.toggle-diet:checked + .lbl-toggle-diet::before {
    transform: rotate(90deg) translateX(-3px);
}

.toggle-diet:checked + .lbl-toggle-diet {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.toggle-cuisine:checked + .lbl-toggle-cuisine + .collapsible-content-cuisine {
    max-height: 100vh;
}

.toggle-cuisine:checked + .lbl-toggle-cuisine::before {
    transform: rotate(90deg) translateX(-3px);
}

.toggle-cuisine:checked + .lbl-toggle-cuisine {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.toggle-allergies:checked + .lbl-toggle-allergies + .collapsible-content-allergies {
    max-height: 100vh;
}

.toggle-allergies:checked + .lbl-toggle-allergies::before {
    transform: rotate(90deg) translateX(-3px);
}

.toggle-allergies:checked + .lbl-toggle-allergies {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.toggle-meal-type:checked + .lbl-toggle-meal-type + .collapsible-content-meal-type {
    max-height: 100vh;
}

.toggle-meal-type:checked + .lbl-toggle-meal-type::before {
    transform: rotate(90deg) translateX(-3px);
}

.toggle-meal-type:checked + .lbl-toggle-meal-type {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.toggle-search:checked + .lbl-toggle-search + .collapsible-content-search {
    max-height: 100vh;
}

.toggle-search:checked + .lbl-toggle-search::before {
    transform: rotate(90deg) translateX(-3px);
}

.toggle-search:checked + .lbl-toggle-search {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.recipe-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 20px;
}

.single-recipe {
    display: block;
    max-width: 300px;
    max-height: 357px;
    justify-content: flex-end;
    background-color: white;
    border-radius: 6px;
    border: 1px solid var(--border-recipe-card);
    box-shadow: 5px 5px 5px rgb(94, 94, 94);
}

.recipe-name {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    max-height: 57px;
    height: 57px;
}

.recipe-pic-container {
    margin-top: 5px;
    margin-bottom: 0px;
    position: relative;
    height: 300px;
    width: 300px;
}

.recipe-pic {
    height: 0px;
}

.recipe-name-link {
    text-decoration: none;
    font-size: 20px;
    overflow-wrap: break-word;
    text-align: center;
    color: black;
}

.fav-star-container {
    position: absolute;
    top: 10px;
    right: 10px;
    max-height: 40px;
}

.fav-star {
    max-height: 40px;
}


.bi-star-fill {
    color: white;
}

.fav-recipe {
    color: gold;
}

.s-recipe-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.s-recipe-ing {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    width: 100%;;
    max-width: 100%;
    height: 250px;
    max-height: 100%;
    margin: 10px;
    gap: 10px;
}

/* .ing-list {
    text-align: left;
} */

.ing-item {
    padding: 4px;
    max-width: 200px;
}

.cook-inst {
    margin: 10px;
    font-size: 20px;
}

.fav-star-container .tooltip-text {
    visibility: hidden;
    background-color: var(--bg-secondary);
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 100px;
}

.fav-star-container:hover .tooltip-text {
    visibility: visible;
    left: 105%;
}