<nav class="navbar">
    <div class="container">
        <a href="/" class="navbar-brand">Wild Carrot</a>
    </div>
    <div class="container">
        {% if not g.user %}
            <a class="nav-item" href="/signup">Sign Up</a>
            <a class="nav-item" href="/login">Log In</a>
        {% else %}
            <a class="nav-item" href="/users/{{g.user.username}}">{{g.user.username}}</a>
            <a class="nav-item" href="/logout">Logout</a>
        {% endif %}

        <!-- <ul class="nav navbar-nav flex-row float-right">
            {% if not g.user %}
                <li class="nav-item">
                    <a class="nav-link pr-3 text-light" href="/signup">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pr-3 text-light" href="/login">Log in</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link pr-3 text-light">{{g.user.username}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pr-3 text-light" href="/logout">Logout</a>
                </li>
            {% endif %}
        </ul> -->
    </div>
</nav>