<nav class="navbar">
    <div class="container">
        <a href="/" class="navbar-brand">
            <img class="logo" src="/static/wild-carrot-light.png" alt="">
        </a>
    </div>
    <div class="container">
        {% if not g.user %}
            <a class="nav-item corben" href="/signup">Sign Up</a>
            <a class="nav-item corben" href="/login">Log In</a>
        {% else %}
            <a class="nav-item corben" href="/users/{{g.user.username}}">{{g.user.username}}</a>
            <a class="nav-item corben" href="/favorites">Favorites</a>
            <a class="nav-item corben" href="/logout">Logout</a>
        {% endif %}
    </div>
</nav>