<div class="container-search">
    <h2>Search for Recipes</h2>
    
    <form class="search-parent" action="/search">
        {{form.hidden_tag()}}
        <div class="search-form">
            {{form.q(class_="search-term", placeholder="Yummy food awaits...")}}
            <!-- <input type="text" class="search-term" name="q" placeholder="Yummy food awaits..."> -->
            <button type="submit" class="search-button">
                <i class="fa fa-search"></i>
            </button>
        </div>
        <div class="wrap-collapsible">
            <input type="checkbox" class="toggle checkbox-collapse" id="collapsible">
            <label for="collapsible" class="lbl-toggle">Dietary Restrictions</label>
            <div class="collapsible-content">
                <div class="content-inner">
                    
                    {% for field in form if field.widget.input_type != 'hidden' and field.name != 'q' %}
                        <div class="diet-restrict-item">
                            {{field}}
                            {{field.label}}
                        </div>
                    {% endfor %}
                    
                    <!-- <p>Test Test Test</p> -->
                </div>
            </div>
        </div>
    </form>
    
</div>