{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="container-search">
    <h2>Join Wild Carrot</h2>
    <form class="container-search" method="POST">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
            {% for error in field.erorrs %}
                <span class="text-danger">{{error}}</span>
            {% endfor %}
            {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}
        <button>Sign Up</button>
    </form>
</div>
{% endblock %}