{% extends 'base.html' %}

{% block title %}{{recipe.name}}{% endblock %}

{% block content %}
<div class="s-recipe-container">
    <h3 class="overpass search-home oblique">{{recipe.name}}</h3>
    <div class="recipe-pic-container search-home">
        <img src="{{recipe.image}}" alt="">
        <div class="fav-star-container">
            {% if recipe.favorite %}
                <img class="fav-star fav-recipe" src="/static/filled_carrot.png" alt="" data-edamam-id="{{recipe.edamam_id}}" data-recipe-name="{{recipe.name}}" data-recipe-image="{{recipe.image}}">
            {% else %}
                <img class="fav-star" src="/static/empty_carrot.png" alt="" data-edamam-id="{{recipe.edamam_id}}" data-recipe-name="{{recipe.name}}" data-recipe-image="{{recipe.image}}">
            {% endif %}
        </div>
    </div>
    <h4 class="overpass">Ingredients</h4>
    <div class="s-recipe-ing corben">
        {% for ing in recipe.ingredients %}
            <div class="ing-item">{{ing}}</div>
        {% endfor %}
    </div>
    <div class="cook-inst">
        <a href="{{recipe.instructions}}">For Cooking Instructions, click here!</a>
    </div>
</div>
{% endblock %}