{% extends 'base.html' %}

{% block title %}{{recipe.name}}{% endblock %}

{% block content %}
<h3 class="overpass">{{recipe.name}}</h3>
<div class="s-recipe-container">
    <div class="recipe-pic-container">
        <img src="{{recipe.image}}" alt="">
        <div class="fav-star-container">
            {% if recipe.favorite %}
                <img class="fav-star fav-recipe" src="/static/filled_carrot.png" alt="" data-edamam-id="{{recipe.edamam_id}}" data-recipe-name="{{recipe.name}}" data-recipe-image="{{recipe.image}}">
            {% else %}
                <img class="fav-star" src="/static/empty_carrot.png" alt="" data-edamam-id="{{recipe.edamam_id}}" data-recipe-name="{{recipe.name}}" data-recipe-image="{{recipe.image}}">
            {% endif %}
        </div>
    </div>
    <div class="s-recipe-ing corben">
        <h4>Ingredients</h4>
        <div class="ing-list">
            {% for ing in recipe.ingredients %}
                <div class="ing-item">{{ing}}</div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="cook-inst">
    <a href="{{recipe.instructions}}">For Coooking Instructions, click here!</a>
</div>
{% endblock %}